.cartAll {
      font-family: Comfortaa;
      display: flex;
      justify-content: space-around;
}

.summary {
      margin-bottom: 15px;
      margin-top: 40px;
      font-family: Comfortaa;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
      color: #5184AB;
}

.cartProducts {
      display: flex;
}

.cartSummary {
      display: flex;
      flex-direction: column;
      align-items: center;
}

.summaryBoard {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      
      width: 420px;
      height: 270px;
      background-color: #e9e9e9;
}

.summaryBoard p {
      margin-left: 30px;
      font-size: 14px;
}

.summaryBoardTotal {
      font-size: 24px !important;
      font-weight: bold;
}