.emptyCartAll {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #5184AB;
}

.emptyCartAll h1 {
      font-family: Baloo;
      font-size: 24px;
      line-height: 38px;
      margin-top: 45px;
}
.emptyCartAll a {
      font-family: Comfortaa;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.025em;
      text-decoration-line: underline;
      cursor: ponter;
}

.emptyCartAll img {
      max-height: 650px;
      max-width: 1200px;
      position: sticky;
      margin-top: -30px;
      z-index: -10;
}