.notFoundAll {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
}

.notFoundText {
      font-family: Baloo;
      color: #7E6FAD;

      display: flex;
      flex-direction: column;
}

h1 {
      font-size: 144px;
}

h2 {
      font-size: 36px;
}