
.homeProduct {
      /* border: 1px solid red; */

      display: flex;
      justify-content: center;

      margin-top: 15px;
      margin-bottom: 300px;
}

.productImg {
      /* border: 1px solid green; */
      
      display: flex;

      max-height: 600px;
      max-width: 600px;
}

.productText {
      /* border: 1px solid brown; */

      display: flex;
      flex-direction: column;
      align-content: space-around;
      align-items: flex-start;

}

.productTextTitle {
      /* border: 1px solid green; */

      font-family: Baloo;
      font-size: 24px;
      line-height: 38px;
      text-align: center;
      letter-spacing: 0.025em;
      color: #5184AB;
      margin-bottom: 20px;
      margin-top: 35px;

      display: flex;  
}

.productTextDescription {
      /* border: 1px solid greenyellow; */

      display: flex;

      font-family: Comfortaa;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.025em;
      text-indent: 28px;
      max-width: 550px;
      max-height: 200px;

      color: #333333;
}

.productDetails {
      display: flex;
      flex-direction: column;
}

.productBuy {
      /* border: 1px solid green; */
      margin-top: 20px;

      display: flex;
      justify-content: center;
}

.productBuy p{
      font-family: Comfortaa;
      font-size: 14px;
}

.productAmount {
      /* border: 1px solid goldenrod; */

      display: flex;
      flex-direction: column;

      margin-right: 30px;
}

.productAmount p{
      font-weight: bold;
      line-height: 20px;
}

.productAmountDetails {
      display: flex;
      align-items: center;
}

.productAmountDetails input {
      text-align: center;
}

.productAmountScore {
      width: 50px;
      height: 20px;
      border-radius: 50px;
      border: 1px solid #c4c4c4;
}

.productAmountOperation {
      margin-left: 10px;
      cursor: pointer;
}

.productAmountOperation:hover {
      background-color: #a4a4a4;
      border-radius: 50%;
      transition: .2;
}

.productPrice {
      /* border: 1px solid goldenrod; */

      display: flex;
      flex-direction: column;

      margin-right: 30px;
      min-width: 70px;
}

.productPrice .productPriceTotal {
      font-weight: bold;
      line-height: 20px;
      margin-bottom: 7px;
}

.buyButton {
      font-family: Baloo;
      color: #fafafa;
      background-color: #FAD65D;
      border-radius: 50px;
      border: none;
      font-size: 24px;
      padding: 10px 20px; 
      align-self: center;
      margin-top: 30px;
      cursor: pointer;
}

.buyButton:hover {
      background-color: #c4c4c4;
}
