.HomeContainer {
      background-color: #fff;
}

.HomeProduct {
      border: 1px solid red;

      display: flex;
      justify-content: center;

      margin-top: 30px;
      margin-bottom: 300px;
}

.ProductImg {
      border: 1px solid green;
      
      display: flex;

      max-height: 600px;
      max-width: 600px;
}

.ProductText {
      border: 1px solid brown;

      display: flex;
      flex-direction: column;
      align-content: space-around;
      align-items: flex-start;

}

.ProductTextTitle {
      border: 1px solid green;

      font-family: Baloo;
      font-size: 24px;
      line-height: 38px;
      text-align: center;
      letter-spacing: 0.025em;
      color: #5184AB;

      display: flex;  
}

.ProductTextDescription {
      border: 1px solid greenyellow;

      display: flex;

      font-family: Comfortaa;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.025em;
      text-indent: 28px;
      max-width: 550px;
      max-height: 200px;

      color: #333333;
}