header {
    display: flex;
    justify-content: space-between
}


header a p{
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 1em;
    line-height: 18px;
    letter-spacing: 0.025em;
    color: #fafafa;
    margin-left: 10px;
}

.HeaderMenu {
    display: flex;
    margin-right: 3%;
}

.HeaderBg {
    background-color: #333;
}

.HeaderCart {
    display: flex;
}

.HeaderCart .CartContainer {
    display: flex;
    align-items: center;
    text-decoration: none;

    /* border: 1px solid red; */
}

.HeaderLogo {
    font-family: 'Baloo', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.025em;
    text-decoration: none;
    margin-left: 120px;
    
    cursor: pointer;


    color: #FFE339;
}

.HeaderOpt {
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 1em;
    line-height: 18px;
    letter-spacing: 0.025em;
    margin-right: 130px;

    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.HeaderOptAnchor {
    /* margin-left: 20px; */
    text-decoration: none;
    color: #fafafa;
    margin-left: 30px;
    display: flex;
    align-content: center;
}

.HeaderOptAnchor:hover {
    color: #a5a5a5;
}