.Footer {
      position:fixed;
      width: 100%;
      bottom: 0;
      display: flex;
      flex-direction: column;
      background-color: #333333;
      justify-content: center;
      align-items: stretch;
}
.FooterSocial {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 50px;
}

.FooterSocial .Face {
      margin-right: 10px;
}

.FooterCopyright {
      
      display: flex;
      justify-content: center;
      align-items: center;

      height: 25px;

      font-family: Comfortaa;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 13px;
      text-align: center;
      letter-spacing: 0.025em;
      color: #FFFFFF;
      background-color: #474747;

}